RewriteEngine On
RewriteCond $1 ^(data|images|public|js|css)
RewriteRule ^(.*)$ /application/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
